* {
	margin: 0;
	padding: 0;
}

.block:after {
  content:"";
  display: inline-block;
  clear: both;
}

.text, .user {
	font-weight: bold;
	font-size: 1.5em;
}

.createdAt {
	color: #aeaaaa;
	font-size: 1em;
}
