<div>
	<div class="container" x-ng-init="init()">


		<ul class="list-group">
			<li class="list-group-item block">
				<span>Name: {{person.name}}</span>
			</li>
			<li class="list-group-item block">
				<span>Height: {{person.height}}</span>
			</li>
			<li class="list-group-item block">
				<span>Mass: {{person.mass}}</span>
			</li>
			<li class="list-group-item block">
				<span>Hair Color: {{person.hair_color}}</span>
			</li>
			<li class="list-group-item block">
				<span>Gender: {{person.gender}}</span>
			</li>
		</ul>

	</div>
</div>
